  GNU nano 8.4                              /etc/systemd/system/truecloud.service
[Unit]
Description=Truecloud Next.js Application
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/truecloud/Truecloud
Environment="NODE_ENV=production"
Environment="PORT=3000"
ExecStart=/root/.bun/bin/bun server.js
PrivateMounts=no
Restart=always
Environment="SHARP_FORCE_GLOBAL_LIBVIPS=1"
Environment="LD_LIBRARY_PATH=/usr/local/lib/x86_64-linux-gnu:/usr/local/lib"
RestartSec=10
StandardOutput=append:/var/log/truecloud/output.log
StandardError=append:/var/log/truecloud/error.log

[Install]
WantedBy=multi-user.target
